html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
}

#map {
    height: 100%;
}

.geoserver-layer,
.drawing-tools {
    color: white;
    padding: 10px;
    z-index: 2;
    box-sizing: border-box;
    position: absolute;
    width: 200px;
    background: rgba(0,0,0, 0.8);
}

.geoserver-layer {
    top: 90px;
    left: 0;
    height: 40px;
}

.drawing-tools {
    top: 0;
    left: 0;
    height: 70px;
}

.drawing-title {
    margin: 0 0 5px 0;
}
