* {
    font-family: 'Amatic SC', cursive;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
}

#map {
    height: 100%;
}

.geoserver-layer,
.hoehenkurven-service {
    color: white;
    padding: 10px;
    z-index: 2;
    box-sizing: border-box;
    position: absolute;
    width: 200px;
    background: rgba(0,0,0, 0.8);
    top: 0;
    left: 0;
}

.geoserver-layer {
    font-size: 1.2em;
    top: 350px;
    left: 0;
}

.drawing-tools {
    display: flex;
    top: 0;
    left: 0;
}

.drawing-title {
    font-size: 1.5em;
    margin: 0 15px 5px 0;
}
